<div id="logo_container">
  <h1 class="logo2">Fraud</h1><h1 class="logo1">Finder</h1>
</div>

<div class="search_container">

  <div class="original_image_container">
    <div class="original_image">
      <img class="og_img" src="<%= @search.source_img_url %>">
    </div>

    <% if @search.title == nil && @search.description == nil %>
      <ul id="og_list">
        <li>
          <h2>Original Image:</h2>
        </li>
        <li>
          <%= erb :"searches/edit", locals: { search: @search } %>
        </li>
      </ul>
    <% else %>
      <ul id="og_list">
        <li>
          <h2>Original Image:</h2>
        </li>
        <li>
          <h3>Title:</h3><p><%= @search.title %></p>
          <h3>Description:</h3><p><%= @search.description %></p>
        </li>
        <li>
          <a href="/searches/<%= @search.id %>/edit"><input type="button" id="submit_button" value="Edit"/></a>
        </li>
      </ul>
    <% end %>

  </div>

  <div class="matched_images_container">
    <h2 id="match_title">Matches:</h2>

    <ul id="match_results">
      <% @search.matches.each do |match| %>
        <% if @search.matches.count != 0 %>
          <li><a class="match_images" href="<%= match.img_host_url %>"><img src="<%= match.img_direct_url %>"></img></a></li>
        <% else %>
          <li>FraudFinder found nothing that looked suspicious!</li>
        <% end> %>
      <% end %>
    </ul>
  </div>

</div>


